.admin-table-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Occupe toute la hauteur de la fenêtre */
}

.header-bar {
  flex-shrink: 0; /* Fixe la barre de recherche en haut */
  padding: 8px;
}



.table-wrapper {
  flex-grow: 1;
  overflow-y: auto; /* Active uniquement le défilement vertical */
  border: 1px solid #ddd;
  padding-left: 5px;
  padding-right: 5px;
  position: relative; /* Nécessaire pour position: sticky */
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  text-align: left;
  padding: 5px;
  border: 1px solid #ddd;
}

.admin-table th {
  background-color: #f2f2f2;
  position: sticky; /* Rend l'en-tête fixe   */
  top: 0; /* Fixe l'en-tête à 0px du haut de la table */
  z-index: 1; /* Assure que l'en-tête reste au-dessus des cellules */
}

.search-bar {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 2px;
  
}
.inventoried {
  background-color: #73e973;
}



